<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_02.webp" alt="Jogo 1" />
            <mat-card-header>
                <mat-card-title>Jogo 1</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 300,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_03.webp" alt="Jogo 2" />
            <mat-card-header>
                <mat-card-title>Jogo 2</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 250,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_04.webp" alt="Jogo 3" />
            <mat-card-header>
                <mat-card-title>Jogo 3</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 200,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_05.webp" alt="Jogo 4" />
            <mat-card-header>
                <mat-card-title>Jogo 4</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 350,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_06.webp" alt="Jogo 5" />
            <mat-card-header>
                <mat-card-title>Jogo 5</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 400,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/img/img_07.webp" alt="Jogo 6" />
            <mat-card-header>
                <mat-card-title>Jogo 6</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição do jogo.</p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 450,00</p>
                <button mat-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
