<main>
    <section id="section-banner">
        @if (images) {
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img
                            [src]="images[0]"
                            class="mh-100 mw-100 rounded mx-auto d-block"
                            alt="Promoção de um jogo"
                        />
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>
                            Nulla vitae elit libero, a pharetra augue mollis
                            interdum.
                        </p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img
                            [src]="images[1]"
                            class="mh-100 mw-100 rounded mx-auto d-block"
                            alt="Promoção do Mês"
                        />
                    </div>
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                        </p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img
                            [src]="images[2]"
                            class="mh-100 mw-100 rounded mx-auto d-block"
                            alt="Jogo do Ano"
                        />
                    </div>
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>
                            Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur.
                        </p>
                    </div>
                </ng-template>
            </ngb-carousel>
        }
    </section>
    <span>LuStore</span>
</main>
